0	python3	extract_lemmas.py etnc19_balanced_corpus.vert
1	python3	extract_lemmas.py etnc19_doaj.vert
2	python3	extract_lemmas.py etnc19_reference_corpus.vert
3	python3	extract_lemmas.py etnc19_web_2013.vert
4	python3	extract_lemmas.py etnc19_web_2017.vert
5	python3	extract_lemmas.py etnc19_web_2019.vert
6	python3	extract_lemmas.py etnc19_wikipedia_2017.vert
7	python3	extract_lemmas.py etnc19_wikipedia_2019.vert
